{% extends "base.html" %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class="display-3">Bienvenido al SHR de Segupak S.A</h1>
            <p class="lead">Empieza a ingresar productos !!</p>
            <hr class="my-2">
           
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'productos' %}" role="button">Empezar</a>
            </p>
        </div>
    </div>
{% endblock %}